@{
    ViewBag.Title = "Access Denied";
    Layout = "_Layout";
}

<gene-container>
    <h3 class="red-text darken-4 font-bold">@ViewBag.Title</h3>
    <h4 class="red-text darken-4">You don't have permission to do that operation</h4>
    <gene-row>
        <gene-column small="12">
            <p>If you are getting this error even you are logged in, please contact with the administrator about requested operation.</p>
        </gene-column>
    </gene-row>
</gene-container>