@{
    ViewBag.Title = "Confirm Email";
}

<gene-container>
    <h2>@ViewBag.Title</h2>
    <div>
        <p>
            Thank you, you have confirmed your email address. You can now click <a asp-area="Identity" asp-controller="Account" asp-action="Login">here</a> to login.
        </p>
    </div>
</gene-container>