/*
    Base Pointer Class Names
*/

.pointer-events-none {
    pointer-events: none;
}

.user-select-none {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
